---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap/dist/js/bootstrap.bundle.min.js";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Metricas web</title>
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/style.css" />

	</head>
	<body>
    <nav class="top-nav">
      <div class="nav-content">
        <a href="/" class="nav-logo">Analizador Web</a>

        <div class="nav-links">
          <a href="/" class="nav-item">Inicio</a>
          <a href="/login" class="nav-item">Login</a>
          <a href="/register" class="nav-item">Registrarse</a>
          <a href="/dashboard" class="nav-item">Dashboard</a>
        </div>
      </div>
    </nav>
		<slot />
	</body>
</html>
  